@{
    ViewBag.Title = "Patrick Hackett's Home Page";
}

<div class="jumbotron">
    <h1>Patrick Hackett</h1>
    <p class="lead">My name is Patrick Hackett. I am a senior in the college of business and this is about me.</p>
    <p><a href="https://business.ohio.edu" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About My Major</h2>
        <p>
            Being an MIS and business analytics major I have been able to flourish and learn more than I could have ever imagined.
            The college of business is a great way to expand your horizons while challenging yourself at the same time.
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/future-students/student-life/copeland-core/">Learn more &raquo;</a></p>
        Sample pages for MIS4200<br />
        @Html.ActionLink("customers", "Index", "customers")<br />
        @Html.ActionLink("Products", "Index", "Products")<br />
        @Html.ActionLink("orders", "Index", "orders")<br />
        @Html.ActionLink("LineItems", "Index", "LineItems")<br />
        @Html.ActionLink("Doctors", "Index", "Doctors")<br />
        @Html.ActionLink("Patients", "Index", "Patients")<br />
        @Html.ActionLink("Treatments", "Index", "Treatments")<br />
        @Html.ActionLink("TreatmentLineItems", "Index", "TreatmentLineItems")


    </div>
    <div class="col-md-4">
        <h2>Clubs and organizations I belong too</h2>
        <p>I belong to the Schey Sales Center, which ensures you go through a interview process and once admitted puts you through classes that give you life long time connections and skills
        I also belong too Delta Tau Delta Fraternity, I am the former recruitment chair and have made life long connections.</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/sales">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Post graduation job</h2>
        <p>I will be working for KPMG, a accounting and audit firm in the Big 4. I'll be working in IT Audit and Assurance in Charlotte NC. </p>
        <p><a class="btn btn-default" href="https://advisory.kpmg.us/services/risk-assurance/it-audit-assurance.html">Learn more &raquo;</a></p>
    </div>
</div>